runs:
  using: composite

  steps:
    - name: Setup Bun
      uses: oven-sh/setup-bun@v2

    - name: Install dependencies
      run: bun ci
      shell: bash # Composite jobs must specify the shell.
